body {
  height: 100%;
}

main {
  background-color: orange;
}

header {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}
